.voice-message-control {
  padding: 15px;
  margin-bottom: 72.5px;
}

.voice-message-control .large-voice-message {
  display: grid;
  gap: 19px;
  margin-top: 10px;
}
.voice-message-control .tag-item {
  display: flex;
  gap: 5px;
}
