.sign-in {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 35px;
}
.sign-in-h1 {
  color: var(--color-primary);
  font-weight: bold;
  margin-top: 150px;
  margin-bottom: 13px;
}
.sign-in-p {
  font-size: 17px;
  font-weight: bold;
  color: #94a19c;
}
.sign-in-container {
  margin-top: 16px;
  margin-bottom: 160px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
/* input 스타일 (Input 컴포넌트에 적용) */
.sign-in-input {
  margin-top: 1px;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.sign-up-link {
  margin-top: 15px;
}
.found-link {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3rem;
  margin-top: 250px;
}
