.community-page {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px 15px;
  box-sizing: border-box;
  position: relative;
}

.community-item {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.community-page .community-tag-button {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* WebKit 브라우저에서 스크롤바 숨기기 */
.community-page .community-tag-button::-webkit-scrollbar {
  display: none;
}

.community-page .community-tag-button button {
  min-width: 60px;
  flex: 0 0 auto;
}
