.new-post-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 33px 18px;
  padding-bottom: 18px;
}

.new-post-page .title-input,
.new-post-page .content-textarea {
  font-size: var(--text-size-body-medium);
  color: var(--color-neutral-0);
  border: none;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  outline: none;
  font-family: 'Arial', sans-serif;
}

.new-post-page .title-input {
  font-size: var(--text-size-title);
  font-weight: bold;
  min-height: 1.2em;
  line-height: 1.2em;
}

.new-post-page .content-textarea {
  min-height: calc(100vh - 52px - 26px - 33px - 18px - 10px * 2 - 90px);
}

.new-post-page .title-input::placeholder {
  color: var(--color-neutral-30);
}

.new-post-page .content-textarea::placeholder {
  color: var(--color-neutral-45);
}

.new-post-page .post-picture-upload {
  width: 100vw;
  margin: 0 calc((100% - 100vw) / 2);
}

.new-post-page .post-picture-upload > :first-child {
  margin-left: 18px;
}

.new-post-page .post-picture-upload > :last-child {
  margin-right: 18px;
}
