.post-page {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
  margin-bottom: calc(56px + 40px);
}
.post-page h2 {
  margin: 0;
  font-size: var(--text-size-heading-small);
  font-weight: bold;
  margin-top: 15px;
}
.post-page .post-tag {
  display: flex;
  gap: 4px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.post-page pre {
  margin: 0;
  font-size: var(--text-size-body-medium);
  white-space: pre-wrap;
  font-family: unset;
  line-height: 165%;
  margin-top: 25px;
}

.post-page .post-images {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
  margin: 0 -18px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.post-page .post-images::-webkit-scrollbar {
  display: none;
}

.post-page .post-images > :first-child {
  margin-left: 18px;
}
.post-page .post-images > :last-child {
  margin-right: 18px;
}

.post-page .interaction-bar {
  margin-bottom: 10px;
}

.post-page .post-comment-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post-page .post-comment-items .comment-thread {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.post-page .overlay.active {
  display: none;
}
.post-page .overlay.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
