.post-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 15px;
}
.post-page p {
  margin: 0;
  padding: 20px 0 10px 0;
}
.post-page h3 {
  padding-top: 15px;
  margin: 0;
  font-size: var(--text-size-heading-small);
  font-weight: bold;
}
.post-page .post-tag {
  display: flex;
  gap: 4px;
  margin-bottom: 10px;
}

.post-page .post-comment-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-page .post-images {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 3px;
  margin-bottom: 24px;
}

/* WebKit 브라우저에서 스크롤바 숨기기 */
.post-page .post-images::-webkit-scrollbar {
  display: none;
}

.post-page .post-images .post-image {
  flex: 0 0 auto;
}
