.main-page {
  padding: 18px;
}
.main-page .h2 {
  font-size: var(--text-size-heading-small);
}
.schedule-container .border-schedule-container > .border-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
