.main-page {
  padding: 0 18px;
  margin-bottom: 62.5px;
}

.main-page h1 {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-100);
  font-size: var(--text-size-heading-small);
  height: 52px;
  padding: 0;
  margin: 0;
}

.main-page > hr {
  margin: 0;
  border: 0;
  width: 100vw;
  margin-top: 16px;
  margin-left: calc((100vw - 100%) / 2 * -1);
  border-top: 9px solid var(--color-neutral-95);
}

.main-page .item-selector {
  position: sticky;
  top: 0px;
}

.main-page .border-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main-page .schedule-items > .schedule-item {
  cursor: pointer;
  user-select: none;
}

.main-page .item-selector ul {
  transform: translate(0, 0);
  top: 55%;
}

.schedule-page-overlay {
  z-index: 1000;
}
