.closed-prescription-viewer {
  display: flex;
  margin: 10px 15px;
  justify-content: end;
}

.open-button {
  border: 0;
  background-color: var(--color-secondary-green-1);
  color: var(--color-secondary-green-2);
  border: var(--color-secondary-green-2) 1px solid;
  font-size: var(--text-size-body-small);
  padding: 10px;
  border-radius: 10px;
}
