.community-tag {
  font-size: var(--text-size-detail);
  height: 16px;
  padding: 0px 8px;
  border-radius: var(--round-size-large);
  background-color: var(--color-neutral-95);
  color: var(--color-neutral-45);
}

.community-tag.highlighted {
  background-color: var(--color-neutral-95);
  color: var(--color-semantic-important);
}
