.container-wrapper {
  border: 1px solid #ccc;
  padding: 20px 18px; /* 위아래 20px, 양옆 18px 패딩 */
  border-radius: var(--round-size-medium); /* 둥근 모서리 */
  margin-bottom: 16px;
  background-color: #ffff; /* 기본 배경색 설정 */
}

.container-wrapper-children {
  display: block;
}

.more-container .description {
  font-size: var(--text-size-title); /* 글자 크기 설정 */
  color: var(--color--neutral-0);
  margin: 10px 0px 10px 3px;

  padding-left: 6px;
  font-weight: bold;
}
