.ContainerVoiceMessage-container {
  background-color: var(--color-neutral-100);
}

.message-header {
  display: flex;
  align-items: center;
  height: 52px;
  width: 100%;
  position: relative;
  padding: 18px 13px;
  box-sizing: border-box; /* 패딩을 포함하여 전체 너비를 계산 */
}

.ContainerVoiceMessage-wrapper-children {
  align-items: center;
  gap: 19px;
}

.ContainerVoiceMessage-button {
  display: flex;
  align-items: center;
  font-size: 28px;
  color: var(--color-neutral-0);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.message-header .description {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--text-size-heading-small);
  color: var(--color--neutral-0);
  font-weight: bold;
  margin: 0;
  z-index: 0;
}
