.floating-action-button-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 999;
}

.floating-action-button-overlay.show {
  opacity: 1;
  pointer-events: auto; /* isOpen이 true일 때 클릭 가능 */
}

.floating-action-button {
  position: fixed;
  bottom: calc(72.5px + 18px);
  right: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  z-index: 1000; /* 오버레이 위에 표시되도록 설정 */
}

.floating-action-button > svg {
  transition: transform 0.3s ease;
  display: flex;
  padding: 13px;
  background-color: var(--color-primary);
  color: var(--color-neutral-100);
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.floating-action-button.open > svg {
  font-size: 24px;
  transform: rotate(-45deg);
}

.floating-action-button ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 20px;
  margin: 0;
  list-style-type: none;
  border-radius: var(--round-size-medium);
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-90);
  opacity: 0;
  transform: translateY(5px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  pointer-events: none; /* ul이 보이지 않을 때 클릭되지 않도록 설정 */
}

.floating-action-button.open ul {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.floating-action-button li {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: 100%;
  color: var(--color-primary);
  font-weight: bold;
}

.floating-action-button .title {
  font-size: var(--text-size-body-small);
  color: var(--color-neutral-30);
  font-weight: unset;
}
