.health-detail-container {
  display: flex;
  flex-direction: column;
  border-radius: var(--round-size-medium);
  color: var(--color-neutral-30);
  background-color: var(--color-neutral-95);
  padding: 0px 15px;
  gap: 8; /* 줄과 데이터 사이의 기본 여백 제거 */
  min-height: 130px;
}

.health-detail-title {
  font-size: var(--text-size-body-small);
}

.health-detail-data {
  font-size: var(--text-size-body-small);
  overflow-wrap: break-word;
  word-break: break-word;
}

.separator {
  border: none;
  height: 1px;
  background-color: white;
  margin: 0; /* 기본 여백 제거 */
  width: calc(100% + 30px); /* 패딩을 고려하여 줄의 너비를 조정 */
  margin-left: -15px; /* 패딩을 고려하여 줄의 왼쪽 여백 조정 */
  margin-right: -15px; /* 패딩을 고려하여 줄의 오른쪽 여백 조정 */
}
