.hospital-detail-card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  padding: 22px;
  border-radius: var(--round-size-medium);
}

.hospital-detail-card .top-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hospital-detail-card .top-container :first-child {
  font-size: var(--text-size-title);
}
.hospital-detail-card .top-container :last-child {
  font-size: var(--text-size-body-medium);
  color: var(--color-neutral-45);
}

.hospital-detail-card a,
.hospital-detail-card a:hover,
.hospital-detail-card a:active {
  color: var(--color-primary);
  text-decoration: none;
  outline: none;
  position: absolute;
  right: 22px;
}
