.input-container {
  margin-bottom: 20px;
}
.input-container-children {
  display: flex;
}
.input-container-children * {
  margin: 0px 5px;
}
.input-container-children :first-child {
  margin-left: 0px;
}
.input-container-children :last-child {
  margin-right: 0px;
}
.input-container-descriptions {
  display: flex;
}
.input-container p {
  font-size: var(--text-size-body-small);
  color: var(--color--neutral-0);
  margin: 10px 0px;
  padding-left: 6px;
}
.input-container .description {
  font-weight: bold;
}
.input-container-success .status-description {
  color: var(--color-semantic-success);
}
.input-container-warning .status-description {
  color: var(--color-semantic-warning);
}
.input-container-error .status-description {
  color: var(--color-semantic-error);
}
.input-container-important .status-description {
  color: var(--color-semantic-important);
}
.input-container-info .status-description {
  color: var(--color-semantic-info);
}
