.profile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-neutral-95);
  border-radius: var(--round-size-medium);
  gap: 12px;
  margin: 10px 7px;
  padding: 10px;
  height: 103px;
  width: 71px;
  position: relative;
}

.profile-image {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.profile-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-name {
  font-size: var(--text-size-body-medium);
  font-weight: bold;
}

.profile-time {
  font-size: 14px;
  color: var(--color-neutral-45);
}
