.top-s10 {
  margin-top: 10px;
}

.bottom-s10 {
  margin-bottom: 10px;
}

.left-s10 {
  margin-left: 10px;
}

.right-s10 {
  margin-right: 10px;
}

.top-s15 {
  margin-top: 15px;
}

.bottom-s15 {
  margin-bottom: 15px;
}

.left-s15 {
  margin-left: 15px;
}

.right-s18 {
  margin-right: 18px;
}

.top-s18 {
  margin-top: 18px;
}

.bottom-s18 {
  margin-bottom: 18px;
}

.left-s18 {
  margin-left: 18px;
}

.right-s18 {
  margin-right: 18px;
}
