.top-s10 {
  margin-top: 10px;
}

.bottom-s10 {
  margin-bottom: 10px;
}

.left-s10 {
  margin-left: 10px;
}

.right-s10 {
  margin-right: 10px;
}

.top-s14 {
  margin-top: 14px;
}

.bottom-s14 {
  margin-bottom: 14px;
}

.left-s14 {
  margin-left: 14px;
}

.right-s14 {
  margin-right: 14px;
}
