.medicine-detail-card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  padding: 22px;
  border-radius: var(--round-size-medium);
  background-color: var(--color-neutral-100);
}

.medicine-detail-card .top-container {
  display: flex;
  gap: 13px;
}

.medicine-detail-card img {
  width: 65px;
  border-radius: 50%;
}

.medicine-detail-card .no-image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: var(--color-secondary-green-1);
}
.medicine-detail-card .no-image-placeholder svg {
  color: var(--color-secondary-green-2);
  font-size: 40px;
}

.medicine-detail-card a,
.medicine-detail-card a:hover,
.medicine-detail-card a:active {
  color: var(--color-primary);
  text-decoration: none;
  outline: none;
  position: absolute;
  right: 22px;
}
