.memo-input-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-95);
  border-radius: var(--round-size-medium); /* 또는 직접 값을 사용 */
  height: 115px;
  gap: 9px;
  padding: 5px 19px;
}

.memo-header {
  padding: 8px;
  height: 45px;
  font-size: var(--text-size-body-medium);
  background-color: var(--color-neutral-95);
  color: var(--color-neutral-45);
  border: none;
  display: flex;
  align-items: center;
}

.memo-textarea {
  padding: 8px;
  height: 50px;
  font-size: var(--text-size-body-medium);
  border: none;
  background-color: var(--color-neutral-95);
  color: var(--color-neutral-45);
  outline: none;
  resize: none;
}
