.nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-neutral-100);
  border-top: 1px solid #eaeaea;
  padding: 10px 0;
}

.nav-item {
  flex: 1;
  text-align: center;
  cursor: pointer;
  color: var(--color-neutral-45);
}

.nav-bar svg {
  width: 24px;
  height: 24px;
}

.nav-item span {
  display: block;
  font-size: var(--text-size-detail);
  margin-top: 5px;
}

.nav-item.active {
  color: var(--color-neutral-0);
}
