.notification-item {
  background-color: var(--color-neutral-100);
}

.notification-item .notification-content {
  margin: 0 20px 14px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.notification-item .notification-content .notification-title {
  font-weight: bold;
  font-size: var(--text-size-body-medium);
  color: var(--color-neutral-0);
}

.notification-item .notification-content .notification-body {
  font-size: var(--text-size-body-medium);
  color: var(--color-neutral-0);
}

.notification-item .notification-content .notification-time {
  font-size: var(--text-size-detail);
  color: var(--color-neutral-45);
}
