.post-large-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-neutral-100);
  cursor: default;
}

.post-large-item .item-info-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.post-large-item .item-info-container .post-large-item img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.post-large-item .item-info-container .item-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 180px;
}

.post-large-item .item-info-container .item-name {
  font-size: var(--text-size-body-medium);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-large-item .item-info-container .item-date-views {
  display: flex;
  align-items: center;
  font-size: var(--text-size-detail);
  color: var(--color-neutral-45);
}
