.small-button {
  text-align: center;
  font-size: var(--text-size-detail);
  height: 17px;
  width: 36px;
  border-radius: var(--round-size-small);
  background-color: var(--color-neutral-30);
  color: var(--color-neutral-95);
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}
