.sub-title {
  background-color: var(--color-neutral-100);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}

.sub-title button {
  font-size: var(--text-size-button);
  color: var(--color-primary);
  background: none;
  border: none;
  cursor: pointer;
}

.sub-title h2 {
  font-size: var(--text-size-title); /* 글자 크기 설정 */
  color: var(--color--neutral-0);
  font-weight: bold;
  margin: 0;
}
