.tag-button {
  font-size: var(--text-size-body-medium);
  font-weight: 500;
  padding: 6px 16px;
  border-radius: var(--round-size-large);
  border: none;
  box-sizing: border-box;
  background-color: var(--color-primary);
  color: var(--color-neutral-100);
  cursor: not-allowed;
}

.tag-button:disabled {
  background-color: var(--color-neutral-95);
  color: var(--color-neutral-0);
  cursor: pointer;
}
