.user-info-item {
  display: flex;
  align-items: center;
}

.user-info-item .item-title {
  font-size: var(--text-size-body-medium);
  color: var(--color-neutral-0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-info-item .item-value {
  font-size: var(--text-size-body-medium);
  color: var(--color-neutral-45);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  text-align: end;
}
