.voice-player-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-neutral-100); /* 기본 배경색 */
  cursor: pointer; /* 마우스 커서 변경 */
  transition: background-color 0s ease; /* 호버 시 배경색 변화 없음 */
}

.voice-player-bar:hover {
  background-color: var(--color-neutral-100); /* 호버 시 배경색 변화 없음 */
}

.item-info-container {
  display: flex;
  align-items: center;
  gap: 19px;
}

.item-info-container .profile-image-wrapper {
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.item-info-container .profile-image-wrapper svg {
  width: 100%;
  height: 100%;
  padding: 15%;
  border-radius: 50%;
  color: var(--color-secondary-green-2);
  background-color: var(--color-secondary-green-1);
  box-sizing: border-box;
}

.voice-player-bar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.voice-player-bar .item-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 180px;
}

.voice-player-bar .item-name {
  font-size: var(--text-size-title);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.voice-player-bar .item-date-time {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--color-neutral-45);
}

.audio-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  gap: 5px; /* Increased gap for better spacing */
}

.audio-time {
  font-size: var(--text-size-body-small);
  display: flex;
  align-items: center;
}

.duration {
  color: var(--color-neutral-0); /* Total duration color */
}

.current-time {
  color: var(--color-neutral-45); /* Current playback time color */
  margin-left: 5px; /* Space between duration and current time */
}

.play-label {
  font-size: var(--text-size-detail); /* Font size for the label */
  color: var(--color-neutral-45); /* Color for the label */
}

.play-pause-btn-container {
  display: flex;
}

.play-pause-btn,
.stop-btn {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  color: var(--color-primary);
  background-color: var(--color-neutral-100); /* 버튼 배경색 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none; /* 테두리 없음 */
  padding: 0; /* 기본 패딩 제거 */
  box-sizing: border-box; /* 버튼의 크기와 이모티콘의 크기를 정확히 맞추기 위해 */
}

.play-pause-btn svg,
.stop-btn svg {
  width: 40px; /* 이모티콘 크기 (버튼보다 약간 작게 설정) */
  height: 40px; /* 이모티콘 크기 (버튼보다 약간 작게 설정) */
}
