.schedule-page {
  padding: 0 18px;
}

.schedule-page hr {
  margin: 0;
  border: 0;
  width: 100vw;
  margin-top: 16px;
  margin-left: calc((100vw - 100%) / 2 * -1);
  border-top: 9px solid var(--color-neutral-95);
}

.schedule-page .schedule-item {
  cursor: pointer;
  user-select: none;
}
