.profile-change {
  display: flex;
  flex-direction: column;
  margin-top: 71px;
  padding: 0 35px;
  gap: 9px;
  text-align: center;
}

.profile-change #change-img {
  align-self: center;
  width: 143px;
  height: 143px;
  border-radius: 50%;
}

.profile-change .sub-button {
  align-self: center;
  margin: 25px 0;
}

.profile-change .big-button {
  position: fixed;
  bottom: 19px;
  left: 35px;
  width: calc(100vw - 70px);
  pointer-events: auto;
}
